
  
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  body{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: #050801;
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
  }
  h1{font-family:'Raleway','sans serif';}
.landing-bg{
        background: linear-gradient(  45deg,rgba(29, 236, 197, 0.7),rgba(91, 14, 214, 0.7) 100%); 
        height:100%;
        padding:0!important;
 }

 .logo-pos{
    margin: 100px 10px 10px 0;
 }

 .logo-pos h1{
    color:#fff;
 }

  a.first{
      position: relative;
      display: inline-block;
      padding: 25px 30px;
      margin: 40px 0;
      color: #03e9f4;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.5s;
      letter-spacing: 4px;
      overflow: hidden;
      margin-right: 50px;
     
  }
  a.two{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
   
}
a.three{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
   
}
  a.first:hover{
      background: #03e9f4;
      color: #050801;
      box-shadow: 0 0 5px #03e9f4,
                  0 0 25px #03e9f4,
                  0 0 50px #03e9f4,
                  0 0 200px #03e9f4;
       -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
  }
  a.two:hover{
      background: #dbdf0b;
      color: #050801;
      box-shadow: 0 0 5px #dbdf0b,
                  0 0 25px #dbdf0b,
                  0 0 50px #dbdf0b,
                  0 0 200px #dbdf0b;
       -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
  }
  a.three:hover{
      background: #2ff51d;
      color: #050801;
      box-shadow: 0 0 5px #2ff51d,
                  0 0 25px #2ff51d,
                  0 0 50px #2ff51d,
                  0 0 200px #2ff51d;
       -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
  }
  /* a:nth-child(1){
      filter: hue-rotate(270deg);
  } */
  /* a:nth-child(2){
      filter: hue-rotate(110deg);
  } */
  a span{
      position: absolute;
      display: block;
  }
  a.first span:nth-child(1){
      top: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: #00fff2;
      background: linear-gradient(90deg,transparent,#00fff2);
      animation: animate1 1s linear infinite;
  }
  @keyframes animate1{
      0%{
          left: -100%;
      }
      50%,100%{
          left: 100%;
      }
  }
  a.first span:nth-child(2){
      top: -100%;
      right: 0;
      width: 3px;
      height: 100%;
      background: linear-gradient(180deg,transparent,#00fff2);
      animation: animate2 1s linear infinite;
      animation-delay: 0.25s;
  }
  @keyframes animate2{
      0%{
          top: -100%;
      }
      50%,100%{
          top: 100%;
      }
  }
  a.first span:nth-child(3){
      bottom: 0;
      right: 0;
      width: 100%;
      height: 3px;
      background: linear-gradient(270deg,transparent,#00fff2);
      animation: animate3 1s linear infinite;
      animation-delay: 0.50s;
  }
  @keyframes animate3{
      0%{
          right: -100%;
      }
      50%,100%{
          right: 100%;
      }
  }
  
  
  a.first span:nth-child(4){
      bottom: -100%;
      left: 0;
      width: 3px;
      height: 100%;
      background: linear-gradient(360deg,transparent,#00fff2);
      animation: animate4 1s linear infinite;
      animation-delay: 0.75s;
  }
  @keyframes animate4{
      0%{
          bottom: -100%;
      }
      50%,100%{
          bottom: 100%;
      }
  }

/* animated logo 2 */

a.two span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg,transparent,#dbdf0b);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a.two span:nth-child(2){
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#dbdf0b);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a.two span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg,transparent,#dbdf0b);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a.two span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#dbdf0b);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

/* animated logo 3 */

a.three span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg,transparent,#2ff51d);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a.three span:nth-child(2){
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#2ff51d);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a.three span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg,transparent,#2ff51d);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a.three span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#2ff51d);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
  
  /* Neon 2 animated */

  button {
    margin: 20px;
  }
  .custom-btn {
    color: #fff;
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  

  .btn-7 {
    color: #21ebff;
    line-height: 40px;
    padding: 0;
    border: none;
  }
  .btn-7 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-7:before,
  .btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #21ebff;
    box-shadow: 0 0 5px #21ebff;
    transition: all 0.3s ease;
  }
  .btn-7:before{
     height: 50%;
     width: 2px;
  }
  .btn-7:after {
    width: 20%;
    height: 2px;
  }
  .btn-7:hover:before {
    height: 100%;
  }
  .btn-7:hover:after {
    width: 100%;
  }
  .btn-7 span:before,
  .btn-7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #21ebff;
    box-shadow: 0 0 5px #21ebff;
    transition: all 0.3s ease;
  }
  .btn-7 span:before {
    width: 2px;
    height: 50%;
  }
  .btn-7 span:after {
    height: 2px;
    width: 20%;
  }
  .btn-7 span:hover:before {
    height: 100%;
  }
  .btn-7 span:hover:after {
    width: 100%;
  }
  
    /* =========Neon 2 animated end========= */

    /* ===========video css================== */
    .txt-white{color:#fff;}
    section {
        position: relative;
        /* background-color: rgb(109, 7, 7); */
        height: 100%;
        min-height: 25rem;
        width: 100%;
        overflow: hidden;
      }

    section .overlay-vid {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* background-color: black; */
        /* background: linear-gradient(90deg,transparent,#00fff2); */
        /* background: linear-gradient(  45deg,rgba(29, 236, 197, 0.7),rgba(91, 14, 214, 0.7) 100%);  */
        /* background: linear-gradient( 45deg,rgb(0 249 145),rgb(136 160 0 / 70%) 100%); */
        /* background: linear-gradient(  45deg,rgba(29, 236, 197, 0.7),rgba(91, 14, 214, 0.7) 100%); */
        /* background: linear-gradient( 45deg,rgba(29, 236, 197, 0.7),rgb(138 214 17 / 70%) 100%); */
        background-image: url('../images/jawdah_ceramics.png'), 
        linear-gradient(to bottom, #ADB2B6, #ABAEB3);
        background-size: cover;
        opacity: 0.7;
        z-index: 1;
      }
      
      
      section video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
      }
      
      section .container {
        position: relative;
        z-index: 2;
      }
      
      /* ==========Login CSS================ */

      .user_card {
        height: 420px;
        width: 350px;
        margin-top: auto;
        margin-bottom: auto;
        background: #f39c12;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;

    }
    .brand_logo_container {
        position: absolute;
        height: 143px;
        width: 140px;
        top: -82px;
        border-radius: 50%;
        background: #8defff;
        padding: 0px;
        text-align: center;
    }
    .brand_logo {
        position:relative;
        top: 4px;
        right: 12px;
        height: 140px;
        width: auto;
        border-radius: 50%;
        /* border: 2px solid white; */
    }
    .form_container1 {
        margin-top: 100px;
    }
    .login_btn {
        width: 100%;
        background: #c0392b !important;
        color: white !important;
    }
    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .login_container {
        padding: 0 2rem;
    }
    .input-group-text-login {
        background: #c0392b !important;
        color: white !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
        padding: 0.7em;
    }
    .input_user,
    .input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
        background-color: #c0392b !important;
    }